{
    "parser": "babel-eslint",
    "extends": ["standard", "standard-react"],
    "rules": {
      "semi": ["error", "always"],
      "comma-dangle": ["error", "always-multiline"],
      "no-var": ["error"],
      "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
      "require-await": ["error"],
      "react/prop-types": 0,
      "jsx-quotes": 0,
      "prefer-const": 0,
      "operator-linebreak": 0,
      "camelcase": "off"
    }
  
  }
  