.container{
    width: 350px;
    padding: 40px;
}
.login h1{
    margin: 15px;
    justify-content: left;
    margin-bottom: 70px;
    width: 70px;
    height: 34px;
    font-size: 38px;
}
.login .boxLogin label{
    margin: 15px;
    border-radius: 30px;
    height: 15px;
    font-size: 20px;
}
.login .boxLogin input{
    margin: 15px;
    height: 35px;
    width: 476px;
    font-size: 14px;
    border-bottom: 1px solid #B1B1B1;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 16px;
    width: 476px;
}
.btn input{
    height: 46px;
    width: 576px;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #297CF6;
    text-transform: uppercase;
    color: white;
    border: none;
}
.login .password-icon{
    position: absolute;
    margin-left: 350px;
    margin-top: 68px;
    color: #B7B4B4;
}